@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
}

h2{
    font-size: 46px;
    line-height: 54px;
}

h4{
    font-size: 20px;
}

h6{
    font-weight: 700;
    font-size: 14px;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}




/* navbar  */

header{
    background-color: rgb(178, 8, 0);
    display: flex;
    align-items: center;
}

header .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 100px;
}

.logo{
    font-size: 2em;
    color: white;
}

.logo span{
    color: rgb(0, 255, 219);
}

.navbar a{
    position: relative;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    height: 50px;
    width: 130px;
}

.navbar a:hover{
    /* border: 2px solid black; */
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 5px;
}

.navbar .loginBtn{
    height: 50px;
    width: 130px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 35px;
    text-align: center;
}

.navbar .loginBtn a{
    margin-right: 29px;
}

.navbar .loginBtn:hover{
    background-color: white;
    color: black;
}

.navbar .cartIcon{
    margin-left: 35px;
    color: white;
    cursor: pointer;
}

.navbar .cartIcon:hover{
    background-color: rgb(60, 58, 58);
    padding: 2px;
}




/* search button  */

.search{
    height: 40px;
    width: 240px;
    background-color: white;
    display: flex;
    border-radius: 5px;
}

.search input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: black;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

.search a{
    height: 100%;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border: 1px solid #cccc;
    border-left-color: black;
}

.search a i{
    color: black;
    font-size: 18px;
}

/* ........  */

.offer{
    background-image: url(img/bg.jpg);
    width: 100%;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.offer h4{
    padding-bottom: 15px;
}

.offer h1{
    color: rgb(0, 255, 219);
}

.offer button{
    border: 2px solid black;
    padding: 10px 20px;
    background-color: rgb(0, 255, 219);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.offer button:hover{
    background-color:rgba(0, 255, 221, 0.648);
}


/* ......features.....  */

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .fbox{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid black;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.06);
    border-radius: 4px;
    margin: 15px 0;
}

.feature .fbox:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.2);
}

.feature .fbox img{
    width: 100%;
    margin-bottom: 10px;
}

.feature .fbox h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #b5e3ff;
}

.feature .fbox:nth-child(2) h6{
    background-color: #fddde4;
}

.feature .fbox:nth-child(3) h6{
    background-color: #cdebbc;   
    /* #d1e8f2; */
}

.feature .fbox:nth-child(4) h6{
    background-color: #cdd4f8;
}

.feature .fbox:nth-child(5) h6{
    background-color: #c9c4ffbd;
}

.feature .fbox:nth-child(6) h6{
    background-color: #f7dabd;
}

/* ..........Products...........  */

.product{
    text-align: center;
}

.product .pBox{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    /* background-color: wh; */
}

.product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #626161;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.01);
    margin: 15px 0;
    position: relative;
    background-color: #ffffff;
    
}

.product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.08);
}

.product .pro img{
    width: 100%;
    height: 250px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
}

.product .pro .des{
    text-align: start;
    padding: 10px 0;
}

.product .pro .des h5{
    /* padding-top: 7px; */
    color: black;
    font-size: 14px;
}

.product .pro .des .star{
    font-size: 12px;
    color: rgba(243, 181, 25);
}

.product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 255, 219);
}

.product .pro .fa-cart-shopping{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
}


/* ---------banner----------  */

.banner{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background: url(img/banner/b16.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.banner .banner-box2{
    background: url(img/banner/b17.jpg);
}

.banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}

.banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

.banner .bannerBtn{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}


.banner .bannerBtn:hover{
    background: #088178;
    border: 1px solid #088178;
}

.banner .bannerBtn2:hover{
    background: rgb(72, 129, 234);
    border: 1px solid rgb(72, 129, 234);
}

/* ..........footer............  */

footer{
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer h2 .bazar{
    color: rgb(0, 255, 219);
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer .a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


@media (max-width: 566px){
    .banner .banner-box{
        align-items: center;
    }

}

/* .................Product Details.................  */

.productDetails{
    display: flex;
    margin-top: 20px;
}

.productDetails .image{
    width: 40%;
    margin-right: 50px;
}

.productDetails .details{
    width: 50%;
    padding-top: 30px;
}

.productDetails .details h4{
    padding: 40px 0 20px 0;
}

.productDetails .details h2{
    font-size: 26px;
}

.productDetails .details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.productDetails .details input:focus{
    outline: none;
}

.productDetails .details button{
    border: 1px solid #088178;
    padding: 10px 15px;
    border-radius: 3px;
    background: #088178;
    color: white;
    cursor: pointer;
}

.productDetails .details span{
    line-height: 25px;
}



/* ............about.............  */

.page-header{
    background: url(img/banner/b3.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.page-header h2,
.page-header p{
    color: white;
}

.aboutUs{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

.aboutUs img{
    width: 47%;
    height: auto;
}

.aboutUs div{

    width: 48%;
    padding-left: 40px;
}

@media (max-width: 890px){
    .aboutUs{
        flex-direction: column;
    }

    .aboutUs img{
        width: 100%;
        margin-bottom: 20px;
    }

    .aboutUs div{
        width: 100%;
        padding-left: 0;
    }
}


/* ................contact.................  */

.contact{
    background: url(img/about/banner.png);
    background-size: cover;
}

.formDetails{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

.formDetails form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formDetails form span{
    font-size: 12px;
}

.formDetails form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

.formDetails form input,
.formDetails form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

.formDetails form button{
    padding: 10px 15px;
    background-color: #088178;
    border: 5px;
    color: white;
    cursor: pointer;
}

.formDetails .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

.formDetails .people div img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.formDetails .people div p{
    margin: 0;
    font-size: 16px;
    line-height: 25px;
}

.formDetails .people div p span{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

@media (max-width:799px){
    .formDetails{
        padding: 40px;
    }

    .formDetails form{
        width: 50%;
    }

    header .nav{
        padding: 20px;
    }

    .search{
        margin-top: 20px;
    }
}

@media (max-width: 477px){
    .formDetails{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    .formDetails form{
        width: 100%;
    }

    .formDetails .people div{
        margin-top: 15px;
    }

    .formDetails .people div img{
        width: 60px;
        height: 60px;
    }
}



